/* NAVBAR */
.logo {
  width: 100px;
}
/* CAROUSEL */
.carousel-image {
  height: 650px;
  filter: brightness(0.5);
}
.carousel-caption{
  text-align: end;
  margin-left: 36%;
}
/* ORADORES */
.oradores-title {
  text-align: center;
  margin-top: 10px;
}
.oradores-title h6 {
  font-size: 12px;
}
.oradores-title h2 {
  font-size: 25px;
}
.a-link{
  color: #000000;
}
.card-group {
  margin-bottom: 20px;
}
.card {
  margin: 0 20px;
}
.badge {
  font-weight: 500;
}
/* BEACH */
.beach-container {
  width: 100%;
}
.beach-image {
  padding: 0;
}
.card-title {
  margin-top: 20px;
}
/* FORMULARIO */
.form-container {
  justify-content: center;
}
.remember{
    font-size: 13px;
}
.btn-enviar{
    background-color: #a0d145;
    border-color: #a0d145;
}
/* FOOTER */
.footer-container{
color: #ffffff;
background: linear-gradient(90deg, rgba(31,61,77,1) 0%, rgba(41,90,116,1) 100%);
margin-top: 20px;
}
.row-content{
  padding: 20px 0;
}
.footer-item{
  color: #ffffff;
}